<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Общий шаблон</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="templates">
    <nav class="header">
        <a href="/index.html">Главная</a>
        <a href="/planner.html">Планер</a>
        <a href="/templates.html">Письма</a>
        <a href="/links.html">Ссылки</a>
        <a href="/clients.html">Советник</a>
        <a href="/post_sales.html">Взаимодействия с другими подразделениями</a>
        <a href="/analytics.html">Стратегия закрытия плана</a>
        <h1>Общий шаблон</h1>
    </nav>
    <div class="container">
        <p>Тут будет универсальный шаблон письма</p>
    </div>
</body>
</html>